* {
    box-sizing: border-box;
    margin: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
    overflow: hidden;
}

.start-container {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bubbles.jpg);
    background-size: cover; /*streches images over whole space from left to right*/
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt-wrapper {
    width: 45vw;
    height: 40vh;
    padding-top: 15px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 10px;
    margin-bottom: 65px;
    text-align: center;
}

.txt-wrapper * {
    margin: 25px;
    opacity: 1;
}

.txt-wrapper h1 {
    text-align: center;
}

.btn {
    width: 20vw;
    height: 10vh;
    background-color: #ffffff;
    opacity: 0.5;
    /* border: 1px solid #ffffff; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 20px 0;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    background-color: #ffffff;
    opacity: 0.6;
    width: 20.5vw;
    height: 10.5vh;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn .text {
    font-size: 30px;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 25px calc((100vw - 960px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        to bottom right,
        rgba(28, 43, 104, 1),
        rgb(154, 60, 241) /* rgb(128, 2, 139)  */ /* rgba(246, 214, 161, 1) */
    );
}

.container:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    /* min-height: 100vh; */
}
#game {
    width: 640px;
    height: 640px;
    position: relative;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
}
.ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b1f6d9;
    transition: transform 5s ease-in-out;
}

.user-click {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fef6f9;
    opacity: 0.5;
    position: absolute;
    transition: all 5s ease-in-out;
}

.grow {
    /* width: 80px;
    height: 80px; */
    border-radius: 50%;
    transform: scale(5);
}

.fade-out {
    background-color: transparent;
    transition: all 1.5s linear;
}
